.Dropdown {
  grid-column: 1/13;
  background-color: white;
  /* padding: 0 10px; */
  /* margin: 0 25%; */
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 5px 1px rgb(224, 224, 224);
  max-width: 300px;
  width: 75%;
  margin: auto;
  font-size: 1em;
  z-index: 200;
}

.Dropdown .Label {
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

.Selection {
  background-color: white;
  border-radius: 5px;
  width: 75%;
  max-width: 300px;
  margin: 5px auto;
  position: absolute;
  box-shadow: 0 2px 5px 1px rgb(224, 224, 224);
}

.Selection ul {
  list-style: none;
  text-align: left;
}

.Selection ul li {
  padding: 5px;
  cursor: pointer;
}

.Dark {
  background-color: #2b3743;
  box-shadow: 0 2px 5px 1px #2b3743;
}

.DarkSelection {
  background-color: #2b3743;
  box-shadow: 0 2px 5px 1px #2b3743;
}

@media screen and (min-width: 720px){
  .Dropdown {
    grid-column: 9/13;
  }
}