/* .div {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  /* grid-column: 1 / 13; */

.div {
  /* width: auto;
  height: auto; */
  /* display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: center; */
  margin: 20px;
  border: 1px solid black;

  height: 50vh;
  width: 30vh;
  /* border: 1px solid black;
  margin: 20px;  */
}

.img {
  height: 50%;
  width: 100%;
  vertical-align: top;
}
