/* .div {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  /* grid-column: 1 / 13; */

.Card {
  height: auto;
  width: 75vw;
  border: 1px solid black;
  margin: 20px;
}

.Card .CardBody{
  text-align: left;
  padding-left: 20px;
}

.Card .img {
  height: 50%;
  width: 100%;
  vertical-align: top;
}
